# Recursion
## 1. Print name n times

In [8]:
def print_name(name, n, i):
    if i > n:
        return
    print(name)
    print_name(name, n, i+1)

In [9]:
print_name("siva", 5, 1)

siva
siva
siva
siva
siva

## 2. Print linearly from 1 to n

In [25]:
def print_1_to_n(n, i):
    if i > n:
        return 
    print(i)
    print_1_to_n(n, i+1)

In [26]:
print_1_to_n(5, 1)

1
2
3
4
5

## 3. Print linearly from n to 1

In [23]:
def print_n_to_1(n, i):
    if i < 1:
        return 
    print(i)
    print_n_to_1(n, i-1)

In [24]:
print_n_to_1(5, 5)

5
4
3
2
1

## 4. Backtracking - Print linearly from 1 to n

In [31]:
def print_back(n):
    if n < 1:
        return 
    print_back(n-1)
    print(n)

In [32]:
print_back(3)

1
2
3

## 5. Backtracking - Print linearly from n to 1

In [36]:
def print_back_nto1(i, n):
    if i > n:
        return
    print_back_nto1(i+1, n)
    print(i)

In [38]:
print_back_nto1(1, 3)

3
2
1

## 6. Sum of First n Numbers
### Parameterized way

In [1]:
def sum_param(i, sum):
    if i == 0:
        return sum
    return sum_param(i-1, sum+i)

In [6]:
print(sum_param(3, 0))

6

### Functional way

In [18]:
def sum_func(i):
    if i == 0:
        return 0
    return i + sum_func(i-1)

In [19]:
print(sum_func(3))

6

## 7. Factorial of first n numbers

In [22]:
def factorial(n):
    if n == 1:
        return 1 
    return n * factorial(n-1)

In [23]:
factorial(3)

6

## 8. Reverse an Array

In [24]:
def reverse_array1(array: list, start_index: int, end_index: int):
    if start_index == end_index:
        return 
    array[start_index], array[end_index] = array[end_index], array[start_index]
    reverse_array1(array, start_index+1, end_index-1)

In [25]:
array = [1, 2, 3, 4, 5]
start_index = 0
end_index = len(array) - 1
reverse_array1(array, start_index, end_index)
print(array)

[5, 4, 3, 2, 1]

In [34]:
def reverse_array(array: list, start_index: int):
    if start_index == len(array) // 2:
        return 
    array[start_index], array[len(array) - 1 - start_index] = array[len(array) - 1 - start_index], array[start_index]
    reverse_array(array, start_index+1)

In [35]:
array = [1, 2, 3, 4, 5]
start_index = 0
reverse_array(array, start_index)
print(array)

[5, 4, 3, 2, 1]

## 9. Check if String is Palindrome

In [36]:
def check_palindrome(string, i):
    if len(string) // 2 == i:
        return True
    if string[i] != string[len(string)-1-i]:
        return False
    return check_palindrome(string, i+1)

In [39]:
check_palindrome("momy", 0), check_palindrome("mom", 0)

(False, True)